/* start of banner stuff */
#info {
  color: #ffd6ff;
  font-weight: 600;
  background-color: rgb(164 113 211 / 90%);
  padding: 5px;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border: white double;
}
#info span {
  font-weight: 600;
}
#banner {
  background: url('../assets/sunset.jpg');
  background-size: 50%;
  background-position: 548px 322px;
  background-attachment: fixed;
  padding: 50px 0px;
}
#banner-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 90%;
}
#title {
  position: relative;
  float: right;
  color: white;
  font-size: 80px;
  margin-right: 20px;
  margin-top: -60px;
}
#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-content: space-around;
  padding: 60px 50px 100px 90px;
  column-gap: 15px;
  width: calc(100% - 140px);
}
.sidebar-left,
.sidebar-right {
  color: white;
  font-size: 24px;
  border: thick double white;
  padding: 10px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sidebar-right > div {
  width: 100%;
}
.edits li {
  font-size: 15px;
}

/* COLORBAR */
.colorbar {
  position: absolute;
  margin-top: 20px;
  padding-bottom: 20px;
  left: 10px;
  height: 100%;
  width: 50px;
  background: linear-gradient(
    0.5turn,
    rgba(182, 134, 185, 1),
    rgba(51, 1, 37, 1)
  );
}
/* ========= */

.post {
  display: none;
  color: #ffd6ff;
}

.post .title {
  font-size: 24px;
  color: #ffd6ff;
}

.person {
  border: thick double white;
}

.cast {
  margin-top: 20px;
}

.cast > :not(:last-child) {
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  color: crimson;
}

.person {
  padding: 10px;
}

#pagination-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

#pagination-nav a {
  text-decoration: none;
}

#current-page {
  color: white;
}
