* {
  margin: 0;
  padding: 0;
  /* pointer-events: auto; */
}
ul {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
body {
  cursor: none;
}
#main {
  background-image: url('../assets/road.jpg');
  background-attachment: fixed;
}
a {
  color: rgb(220, 20, 60) !important;

  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}

/* start of banner stuff */
#info span {
  font-weight: 600;
}
#info {
  color: #ffd6ff;
  font-weight: 600;
  background-color: rgb(164 113 211 / 90%);
  padding: 5px;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border: white double;
}
#banner {
  background: url('../assets/sunset.jpg');
  background-size: 50%;
  background-position: 548px 322px;
  background-attachment: fixed;
  padding: 50px 0px;
}
#banner-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 90%;
}
#title {
  position: relative;
  float: right;
  color: white;
  font-size: 80px;
  margin-right: 20px;
  margin-top: -60px;
}
/* end of banner stuff */

/* content stuff */
#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-content: space-around;
  padding: 60px 50px 100px 90px;
  column-gap: 15px;
  width: calc(100% - 140px);
}
.sidebar-left,
.sidebar-right {
  color: white;
  font-size: 24px;
  border: thick double white;
  padding: 10px;
}
.sidebar-right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sidebar-right > div {
  width: 100%;
}
/* ------- */

/* start of hr stuff */
.post-title .hr {
  height: 3px;
  width: 200px;
  background: #ffd6ff;
}

@keyframes anime {
  from {
    background-position: 0;
  }
  to {
    background-position: 200px;
  }
}

@keyframes big-anime {
  from {
    background-position: 0;
  }
  to {
    background-position: 400px;
  }
}
.big-hr .glow {
  text-align: center;
  width: 400px;
  height: 5px;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.1), #ffa0ff);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: big-anime 4s linear infinite;
}

.hr .glow {
  width: 200px;
  height: 3px;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.1), #ffffff);
  animation: anime 2s linear infinite;
}
/* ------------ */

/* COLORBAR */
.colorbar {
  position: absolute;
  margin-top: 20px;
  padding-bottom: 20px;
  left: 10px;
  height: 100%;
  width: 50px;
  background: linear-gradient(
    0.5turn,
    rgba(182, 134, 185, 1),
    rgba(51, 1, 37, 1)
  );
}
/* ---------- */

#canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

#canvas * {
  pointer-events: none;
}

.post {
  display: none;
  color: #ffd6ff;
}

.post .title {
  font-size: 24px;
  color: #ffd6ff;
}

.edits li {
  list-style: circle;
  list-style-position: inside;
}

.person {
  border: thick double white;
}

.sidebar-left > :nth-child(3) {
  font-size: 20px;
}

.edits li {
  font-size: 15px;
}

.cast {
  margin-top: 20px;
}

.cast > :not(:last-child) {
  margin-bottom: 20px;
}

.name {
  font-size: 20px;
  color: crimson;
}

.person {
  padding: 10px;
}
