* {
  margin: 0;
  padding: 0;
  /* pointer-events: auto; */
}
ul {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
body {
  cursor: none;
}
#main {
  background-image: url('../assets/road.jpg');
  background-attachment: fixed;
}
a {
  color: rgb(220, 20, 60) !important;

  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}
