* {
  margin: 0;
  padding: 0;
  /* pointer-events: auto; */
}
ul {
  list-style-type: none;
}
html,
body {
  height: 100%;
}
body {
  cursor: none;
}
#canvas {
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

#canvas * {
  pointer-events: none;
}

@keyframes big-anime {
  from {
    background-position: 0;
  }
  to {
    background-position: 400px;
  }
}
.big-hr .glow {
  text-align: center;
  width: 400px;
  height: 5px;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.1), #ffa0ff);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  animation: big-anime 4s linear infinite;
}
#main {
  background-image: url('../assets/road.jpg');
  background-attachment: fixed;
}
a {
  color: rgb(220, 20, 60);
  text-decoration: inherit;
  cursor: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}

hr {
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#main {
  min-height: 1000px;
}
